@{
    ViewData["Title"] = "My Pokemon";
}
@section PageStyles{
    <link rel="stylesheet" href="~/css/my-pokemon.css" />
    <link rel="stylesheet" href="~/css/list-pokemon.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
}

<body class="bg-detail">
<div class="row row-cols-md-3" id="card-wrapper">

</div>
</body>
@section Scripts{
    <script>
        $(document).ready(function() {
            var $idCardWrapper = $("#card-wrapper");
            var getStorage = JSON.parse(localStorage.getItem("mypokemon"));
            if (getStorage != null) {
                $.each(getStorage, function(i, item) {
                    var color = pokemon.backgroundPokemon(item.Types[0].Type.Name);
                    var $item = $(`<div class="col">
                                    <div class="card" style="background-color: ${color};">
                                <div class="row g-0">
                                <a href="/Pokemon/PokemonDetail?name=${item.Name}" class="stretched-link"></a>
                                <div class="col-md-4">
                                    <img src="${item.sprites.other['official-artwork'].front_default}" class="img-fluid rounded-start" alt="pokemon">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                    <h2 class="card-title">#${item.No}</h2>
                                    <h2 class="card-title">${item.Species.Name}</h2>
                                    </div>
                                </div>
                                </div>
                            </div>
                          </div>`);
                    $idCardWrapper.append($item);
                });
            }
        });
    </script>
}